<!DOCTYPE HTML>
<!--
    Hyperspace by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
  -->
<html>
  {% load static %}
  <head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'siteinfo/assets/css/main.css' %}">
    <noscript><link rel="stylesheet" href="{% static 'siteinfo/assests/css/noscript.css' %}"></noscript>
  </head>
  
  
  <body class="is-preload">
    
    <!-- Header -->
    <header id="header" class="">
      <a href="/" class="title">Home</a>
      <nav>
	{% comment %}
	<ul>
	  <li><a href="/">Home</a></li>
	  <li><a href="generic.html" class="active">Generic</a></li>
	  <li><a href="elements.html">Elements</a></li>
	</ul>
	{% endcomment %}
      </nav>
    </header>
    
    <!-- Wrapper -->
    <div id="wrapper">
      
      <!-- Main -->
      <section id="main" class="wrapper style5">
	<div class="inner">
	  <h1 class="major">{{ obj.title }}</h1>
	  <p>{{ obj.text|linebreaks }}</p>
	</div>
      </section>
      
    </div>
    
    <!-- Footer -->
    <footer id="footer" class="wrapper alt style5">
      <div class="inner">
	<ul class="menu">
	  <li>&copy; {{ landing.title }}. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
	</ul>
      </div>
    </footer>
    
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    
  </body>
</html>
