<html>
  {% load static %}
  <head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'siteinfo/assets/css/main.css' %}">
    <noscript><link rel="stylesheet" href="{% static 'siteinfo/assests/css/noscript.css' %}"></noscript>
  </head>



  <body class="style5">
    
    <!-- Sidebar -->
    {% comment %}
    <section id="sidebar" class="style5">
      <div class="inner style5">
	<nav>
	  <ul>
	    <li><a href="#intro">Welcome</a></li>
	    <li><a href="#one">{{ alpha.title }}</a></li>
	    <li><a href="#two">{{ bravo.title }}</a></li>
	    <li><a href="#three">{{ contact.title }}</a></li>
	  </ul>
	</nav>
      </div>
    </section>
    {% endcomment %}
    
    <!-- Wrapper -->
    <div id="wrapper">
      
      <!-- Intro -->
      <section id="intro" class="wrapper fullscreen style5">
	<div class="inner">
	  <center>
	    <img src="/static/siteinfo/images/logo.png" class="logo">
	    <h1>{{ landing.title|safe }}</h1>
	    <div class="landing">
	      <p>{{ landing.text|safe }}</p>
	      <a href="#two" class="button scrolly">{{ landing.button_prompt }}</a>
	    </div>
	    <ul class="actions">
	      <li>
	      </li>
	    </ul>
	  </center>
	</div>
      </section>



      {% comment %}
      <!-- One -->
      <section id="one" class="wrapper spotlights style5">

	{% for a in alpha.alpha_set.all %}
	<section class="dinner">
	  <a href="#" class="image"><img src="static/siteinfo/images/empirestate.jpg" alt=""p /></a>
	  <div class="content">
	    <div class="inner dinner">
	      <h2>{{ a.title }}</h2>
	      <p>{{ a.summary|linebreaks }}</p>
	      <ul class="actions">
		<li><a href="{% url 'alpha' a.slug %}" class="button">Learn more</a></li>
	      </ul>
	    </div>
	  </div>
	</section>
	{% endfor %}
      </section>
      {% endcomment %}

      <!--Two -->
      <center>
	<section id="two" class="wrapper fade-up style5">
	  <div class="inner dinner karm">
	    <p>{{landing.message|safe}}</p>
	  </div>
	</section>
      </center>
	  

      {% comment %}
      <!-- Two -->
      <section id="two" class="wrapper fade-up style5">
	<div class="inner dinner">
	  <h2>{{ bravo.title }}</h2>
	  <p>{{ bravo.summary|linebreaks }}</p>
	  <div class="features">
	    {% for b in bravo.bravo_set.all %}
	    <section>
	      <span class="icon solid major fa-check"></span>
	      <h3>{{ b.title }}</h3>
	      <p>{{ b.summary|linebreaks }}</p>
	    </section>
	    {% endfor %}
	  </div>
	    <ul class="actions">
	      <li><a href="generic.html" class="button">Learn more</a></li>
	    </ul>
	</div>
      </section>
      {% endcomment %}
      
      <!-- Three -->
      <section id="three" class="wrapper fade-up style5">
	<div class="inner dinner">
	  <h2>{{ contact.title }}</h2>
	  <p>{{ contact.summary|linebreaks }}</p>
	  <div class="split style1">
	    <section>
	      <form method="post" action="">
		{% csrf_token %}

		<div class="fields">
		  <div class="field third">
		    <label for="first_name">First Name</label>
		    <input type="text" name="first_name" id="first_name" />
		  </div>
		  <div class="field third">
		    <label for="last_name">Last Name</label>
		    <input type="text" name="last_name" id="last_name" />
		  </div>
		  <div class="field third">
		    <label for="company">Production Company</label>
		    <input type="text" name="company" id="company" />
		  </div>
		  <div class="field half">
		    <label for="phone">Phone Number</label>
		    <input type="text" name="phone" id="phone" />
		  </div>
		  <div class="field half">
		    <label for="email">Email</label>
		    <input type="text" name="email" id="email" />
		  </div>

		  {% for choice,display in form.fields.choices.choices %}
		  <div class="field quarter">
		    <input type="radio" name="choices" id={{choice}} value={{choice}}>
		    <label for={{choice}}>{{choice}}</label>
		  </div>
		  {% endfor %}

		  <div class="field">
		    <label for="message">Details about your location including location address</label>
		    <textarea name="message" id="message" rows="5"></textarea>
		  </div>
		</div>
		<ul class="actions">
		  <li><input type="submit" value="Send Message"></li>
		</ul>
	      </form>
	    </section>


	    {% comment %}
	    <section>
	      <ul class="contact">
		<li>
		  <h3>Address</h3>
		  <span>{{ contact.address }}<br />
		    {{ contact.city }}, {{ contact.state }} {{ contact.zipcode }}<br />
		    USA</span>
		</li>
		<li>
		  <h3>Email</h3>
		  <a href="">{{ contact.email }}</a>
		</li>
		<li>
		  <h3>Phone</h3>
		  <span>{{ contact.format_phone }}</span>
		</li>
		<li>
		  <h3>Social</h3>
		  <ul class="icons">
		    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
		    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
		    <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
		    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
		    <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
		  </ul>
		</li>
	      </ul>
	    </section>
	    {% endcomment %}
	    
	  </div>
	</div>
      </section>
      
    </div>
    
    <!-- Footer -->
    <footer id="footer" class="wrapper style5">
      <div class="inner dinner">
	<ul class="menu">
	  <li>&copy; {{ landing.title }} All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
	</ul>
      </div>
    </footer>
    
    <!-- Scripts -->
    <script src="{% static 'siteinfo/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'siteinfo/assets/js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'siteinfo/assets/js/jquery.scrolly.min.js' %}"></script>
    <script src="{% static 'siteinfo/assets/js/browser.min.js' %}"></script>
    <script src="{% static 'siteinfo/assets/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'siteinfo/assets/js/util.js' %}"></script>
    <script src="{% static 'siteinfo/assets/js/main.js' %}"></script>
    
  </body>
</html>
